/* import { motion } from "framer-motion" */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar section */
html,
body {
    height: 100%;
}

/* .nav {
    border: 1px solid;
    padding: -5px 7%;
    z-index: 100;
    background: transparent;
    box-shadow: 5px 1px #888888;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100%;
    margin-top: -1rem;
}


ul>label {
    margin-right: auto;
}


ul li a {
    text-transform: uppercase;
    transition: all ease 0.55;
    font-size: 17px;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

ul li a:hover {
    border-bottom: #edf2f3 solid 3px;

}


.logo {
    display: none;
    padding: 1rem;

} */

.navbar {
    color: #caf3f3;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

ul .reg {
    background-color: whitesmoke;
    padding: 0.7rem;
    margin: 1rem;
    margin-top: 2rem;
    color: #042B43;
}

/* main section start here */

main {
    overflow: hidden;
    padding: 5rem 12%;
}

.hero-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

.hero-text {
    flex: 1;
    padding-right: 20px;
    text-align: left;
}

.image-section {
    flex: 1;
    text-align: right;
}

@media (max-width: 768px) {
    main.hero-section {
        flex-direction: column;
        /* Stack elements vertically on smaller screens */
    }

    div ul {
        display: none;
    }

    .hero-text,
    .image-section {
        flex: none;
        width: 100%;
        padding-right: 0;
    }

    .image-section {
        max-width: 100%;
    }

    .image-section img {
        width: 100%;
        height: auto;
        border-radius: 10%;
        transform: scale(1.2);
    }

    .hero-section .hero-text h1 {
        font-weight: 600;
        font-size: 40px;
        /* line-height: 1.3; */
        /* margin: 22px 0; */
    }

    /* section */
    .section {
        max-width: 100%;
        padding: 2rem 1rem;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .content1 img {
        width: 60px;
        height: 80px;
        margin-top: 1.5rem;
        margin-left: 1rem;
        margin: 1rem;
    }

    .content1 .content-count .amount {
        font-weight: 500;
        font-size: 22px;
        line-height: 1;
        margin: 22px 0;
        color: #042B43;
        text-transform: uppercase;
        font-family: sans-serif;
    }

    .hero-section .hero-text h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 1.5;
        margin: 22px 0;
    }
}


.hero-section .hero-text h1 span {
    color: #FFD248;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-section .hero-text h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.5;
    margin: 22px 0;
}


.hero-section .hero-text a {
    display: inline-block;
    background-color: #042B43;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
}

/* navbar responsiveness */
@media (max-width:768px) {
    ul {
        display: none;
    }

    ul button {
        display: none;
    }


    .logo {
        display: flex;
        align-items: center;
    }

    .logo i {
        margin-left: auto;
    }

    .course-categories center h1 {
        font-weight: 300;
        font-size: 30px;
        line-height: 1;
        margin: 22px 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}


/* section start from here */

section {
    overflow: hidden;
    padding: 0 19%;
    margin: 2rem;
    max-width: 100%;
}

.section-content {
    background-color: #caf3f3;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4rem;
    padding: 15px;
    max-width: 100%;
    /* margin: 6%; */
}

.section-content .content1 {
    background-color: #caf3f3;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.content1 img {
    width: 80px;
    height: 80px;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin: 2rem;
}

.content1 .content-count .amount {
    font-weight: 800;
    font-size: 32px;
    line-height: 1;
    margin: 22px 0;
    color: #16b6b8;
    text-transform: uppercase;
    font-family: sans-serif;
}

.content1 .content-count .text {
    font-weight: lighter;
    font-size: 20px;
    line-height: 1;
    margin: 22px 0;
    color: rgb(195, 191, 191);
    text-transform: uppercase;
    font-family: sans-serif;
}

.course-categories center {
    margin: 2rem 0;
}

.course-categories center h1 {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.5;
    margin: 22px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
    color: #042B43;
    font-weight: 600;
}




/* section about us */

.programs {
    padding: 0 12%;
}

 center{
    font-size: 3rem;
    margin-top: 2rem;
}
.container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.technical {
    background-color: rgb(208, 230, 249);
    border-radius: 1rem;
}

.non-technical {
    background-color: rgb(208, 230, 249);
    border-radius: 1rem;
}


.technical h1 {
    font-size: 32px;
    color: #1a1e21;
    font-weight: bolder;
    font-family: serif;
    margin-top: 0.5rem;
    margin: 1rem;
}


.technical button{
    padding: 1em 3rem;
    background-color: #042B43;
    color: white;
    border-radius: 5px;
    margin-left: 1.5rem;
}

.non-technical h1 {
    font-size: 32px;
    color: #1a1e21;
    font-weight: bolder;
    font-family: serif;
    margin-top: 0.5rem;
    margin: 1rem;
}


.non-technical button{
    padding: 1em 3rem;
    background-color: #042B43;
    color: white;
    border-radius: 5px;
    margin-left: 1.5rem;
}


.Jobs h1{
    font-size: 32px;
    color: #1a1e21;
    font-weight: bolder;
    font-family: serif;
    margin-top: 1rem;
    margin: 1rem;
}


.Jobs button{
    padding: 1em 3rem;
    background-color: #042B43;
    color: white;
    border-radius: 5px;
    margin-left: 1.5rem;
}



.Jobs {
    background-color: rgb(208, 230, 249);
    border-radius: 1rem;
}

.container .img {
    width: 100%;
    border-radius: 4rem;
}

.container .img img{
    width: 100%;
}

.image-container div img {
    width: 25%;
}

@media (max-width: 768px) {

    /* Adjust styles for screens smaller than 768px width */
    .course1 {
        /* max-width: calc(50% - 20px); */
        /* Two columns on smaller screens */
    }
}

@media (max-width: 480px) {

    /* Adjust styles for screens smaller than 480px width */
    .course1 {
        /* max-width: 100%; */
        /* One column on very small screens */
    }
}


.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  
  body {
    background-color: #000;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }